NET "clk" LOC = F13;
NET "s_reset" LOC = Y16;
NET "s_modus" LOC = J17;
NET "s_richtung" LOC = J15;
NET "s_slower" LOC = J13;
NET "s_faster" LOC = J10;
NET "led_out<0>" LOC = P18;
NET "led_out<1>" LOC = P25;
NET "led_out<2>" LOC = N19;
NET "led_out<3>" LOC = K22;
NET "led_out<4>" LOC = H20;
NET "led_out<5>" LOC = G21;
NET "led_out<6>" LOC = D24;
NET "led_out<7>" LOC = D25;
NET "s_dip<0>" LOC = A7;
NET "s_dip<1>" LOC = G16;
NET "s_dip<2>" LOC = E9;
NET "s_dip<3>" LOC = D16;
NET "s_dip<4>" LOC = D19;
NET "s_dip<5>" LOC = B24;
NET "s_dip<6>" LOC = A5;
NET "s_dip<7>" LOC = A23;